/* popup container */
.popup {
  cursor: pointer;
}

body {
  background-image: url(images/hero-image.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.3);
}

/* The actual popup */
/* .popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/* .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
} */

/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */

/* header, h2, h3 {
  display: flex;
  justify-content: center;
} */
.hero {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  margin: 0px;
}

.hero .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 1.5rem;
}

.hero .title p {
  font-size: smaller;
  font-style: italic;
}

img[alt="logo"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.preamble {
  text-align: center;
  font-size: 1.5rem;
  width: 50vw;
  line-height: 1.5;
  min-width: 50vw;
}

.preamble p {
  font-size: smaller;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  width: 50vw;
}

.nav-buttons a {
  text-decoration: none;
}

.articles-button,
.amendments-button {
  background-color: rgb(85, 85, 85);
  color: #fff;
  padding: 25px;
  width: 80px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.constitution-article-section {
  border-style: solid;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;

}

.annotation-button, .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.constitution-article-section p, .section-description {
  display: flex;
  flex-direction: column;
}

.constitution-amendment {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

button {
  padding: 15px 30px;
  border-radius: 5px;
}

.analysis {
  border: 1px solid black;
  padding: 1rem;
  display: none;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.show-analysis {
  display: block;
}

footer {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid black;
  padding: 0px;
}

footer a {
  text-decoration: none;
  color: black;
}

.navbar {
  height: 80%;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  position: fixed; /* eww */
  top: 125px;
  width: 130px;
  z-index: 1;
}
.navbar input {
  display: none;
}
.navbar label {
  background: #222290;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  display: block;    
  margin: 0 0 1px 0;
  padding: 8px 22px;
  transition: ease .5s;
}
.navbar label:hover {
  background: #5555B0;
}
.navbar--content {
  background: #555;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: #FFF;
  margin: 0 0 1px 0;
  padding: 2px;
}
input + label + .navbar--content {
  display: none;
}
input:checked + label + .navbar--content {
  display: block;
}
.navbar--content__dropdown {
  border-radius: 3px;
  color: #FFF;
  display: block;
  margin: 0 0 1px 0;
  padding: 2px 16px;
}
.navbar--content__dropdown a{
  color: #FFF;
}
.navbar--content__dropdown:hover {
  background-color: #888;
}

.collapsible {
  background-color: rgb(85, 85, 85);
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 600  ;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.active, .collapsible:hover {
  background-color: #fff;
  color: rgb(85, 85, 85);
  opacity: .8;
}

.collapsible::after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
}

.constitution-article {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
