.popup {
  cursor: pointer;
}

body {
  background-image: url(images/hero-image.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.4);
  font-family: 'Bubblegum Sans', cursive;
}

.hero {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  margin: 0px;
}

.hero .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 1.5rem;
}

.hero .title p {
  font-size: smaller;
  font-style: italic;
}

img[alt="logo"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.preamble {
  text-align: center;
  font-size: 1.5rem;
  width: 50vw;
  line-height: 1.5;
  min-width: 50vw;
}

.preamble p {
  font-size: smaller;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  width: 50vw;
}

.nav-buttons a {
  text-decoration: none;
}

.articles-button,
.amendments-button {
  background-color: rgb(85, 85, 85);
  color: #fff;
  padding: 25px;
  width: 80px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.constitution-amendment {
  border: 1px solid black;
  padding: 10px;
  margin: 1rem;
}

.constitution-article-section {
  border-style: solid;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.annotation-button, .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.constitution-article-section p, .section-description {
  display: flex;
  flex-direction: column;
}

button {
  padding: 15px 30px;
  border-radius: 5px;
}

.analysis {
  border: 1px solid black;
  padding: 1rem;
  display: none;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.show-analysis {
  display: block;
}

footer {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid black;
  padding: 0px;
}

footer a {
  text-decoration: none;
  color: black;
}

.collapsible {
  background-color: rgb(85, 85, 85);
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 600  ;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.active, .collapsible:hover {
  background-color: #fff;
  color: rgb(85, 85, 85);
  opacity: .8;
}

.collapsible::after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
}

.constitution-article {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  margin: 0.5rem;
}