/*********************
* Boilerplate Styles *
*********************/

.boilerplate__body {
  background-color: rgba(220, 220, 220, 1.0);
}
.boilerplate__main {
  background-color: rgba(150, 150, 150, 1.0);
  display: inline-block;
  height: auto;
  left: 180px;
  position: relative;
  width: calc(100% - 360px);
}
.boilerplate__footer {
  bottom: 0px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

/* End Boilerplate */


/******************
**** Index ********
******************/

.index--header__link,
.index--header__link>a {
  color: black;
  display: block;
  font-size: 84px;
  height: 100px;
  text-align: center;
  text-decoration: none;
}
.index--header__link>a {
  width: 100%;
}
#IndexMain {
  background-color: #2299FF;
  /* Center horizontally*/

}
#IndexGridContainer {
}
.mainpage__h3 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.projects__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0px 10px 10px 10px;
}
.projects--item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
}
.projects--item__h6 {
  font-size: 16px;
  padding:  0px 4px;
  vertical-align: middle;
}
.projects--item__p {
  font-size: 24px;
  text-align: center;
  vertical-align: text-top;
}
.profiles__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0px 10px 10px 10px;
}
.profiles--item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
}
.profiles--item__h6 {
  font-size: 16px;
  padding:  0px 4px;
  vertical-align: middle;
}
.profiles--item__p {
  font-size: 24px;
  text-align: center;
  vertical-align: text-top;
}

/* End Padding */


/******************
**** Jingrui ******
******************/






/******************
**** Jordan *******
******************/






/******************
**** Ryan *********
******************/






/******************
**** Terry  *******
******************/






/******************
**** Veevek *******
******************/







