* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

#team,
#project,
#experience-terry {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

#team {
    background-color: #fffbf0;
    padding-top: 100px;
    padding-bottom: 100px;
}

#project,
#experience-terry {
    background-color: #fffbf0;
    padding-bottom: 50px;
}

.header-container {
    background-color: #e4ddf4;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1;
}

.team-name a,
.name a {
    text-decoration: none;
    color: #282612;
    font-size: 10px;
}

  /* Dropdown Button */
.dropdown-button,
.contact-button {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    transition: color, 0.1s;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content
.team-dropdown {
    position: relative;
    display: inline-block;
} */

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: #282612;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

  /* Show the dropdown menu on hover */
.team-dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.team-dropdown:hover .dropdown-button,
.contact-button:hover {
background-color: #2d2d2d;
box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
color: white;
}

.team-title {
    color: #282612;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member-block {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.member-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 1s;
}

.photo-container:hover {
    transform: rotateZ(-10deg);
}

.member-photo {
    width: 96%;
    height: 270px;
    border: 5px solid #2d2d2d;
    filter: grayscale(50%);
    transition: 1s;
}

.member-photo:hover {
    border-color: #249489;
    filter: grayscale(0%);
}

.member-background {
    font-size: 28px;
    font-weight: 500;
    background-color: black;
    color: white;
    width: 101%;
    height: 80px;
    padding-top: 7%;
    transition: background-color, 1s;
}

.member-background:hover {
    background-color: #249489;
}

.member-description p{
    font-size: 14px;
    font-weight: 300;
    color: gray;
    line-height: 2;
    margin-top: 10px;
}

.project-title,
.experience-title,
.education-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.project-grid {
    display: grid;
    grid-template-rows: repeat(5, 300px);
    gap: 20px;
}

.project1,
.experience1 {
    grid-row: 1/2
}
.project2 {
    grid-row: 2/3;
}
.project3 {
    grid-row: 3/4;
}
.project4{
    grid-row: 4/5;
}

.project5 {
    grid-row: 5/6;
}

.projects,
.experiences {
    display: flex;
    flex-direction: row;
}

.project-main,
.experience-main {
    position: relative;
}

.project-main:hover .project-link {
    visibility: visible; 
    opacity: 1;
}

.project-pics,
.experience-pics {
    width: 500px;
    height: 96.5%;
    border: 5px solid #000000;
}

.project-link,
.experience-link {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 25%;
    padding-left: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-link div,
.experience-link div {
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 23%;
    font-size: 16px;
    border: none;
    transition: color, 0.1s;
    border-radius: 5px;
}

.project-link div:hover,
.experience-link div:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,0.15);
    cursor: pointer;
}

.project-link div:active,
.experience-link div:active {
    box-shadow: inset 0 0 100px rgba(0,0,0,0.15);
}

.project-main:hover .project-link,
.experience-main:hover .experience-link {
    visibility: visible; 
    opacity: 1;
}

.project-description,
.experience-description {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.project-description h1,
.experience-description h1 {
    font-size: 28px;
    font-weight: 500;
    padding-top: 8%;
    padding-bottom: 20px;
}

.project-description p,
.experience-description p {
    line-height: 30px;
    padding-left: 10%;
    padding-right: 10%;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e4ddf4;
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
    padding-top: 5px;
}

.footer-container h1 {
    margin-right: 20px;
}

.footer-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(255, 255, 255);
    transition: transform, 0.3s;
}

.footer-picture:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/***Terry's profile CSS***/
.contact {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact a {
    text-decoration: none;
}

.contact-button:hover {
    cursor: pointer;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 65px;
    bottom: 0;
    background-color: white;
    width: 80px;
    border-left: #e4ddf4 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: inset 0 0 20px rgba(213, 200, 242, 0.5);
}

#sidebar h1 {
    font-size: 25px;
    font-weight: 700;
    color: #D5C8F2;
    border-bottom: #D5C8F2 5px solid;
}
#sidebar img {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    transition: 1s;
}
.skill-c,
.skill-cpp,
.skill-css,
.skill-git,
.skill-html,
.skill-js,
.skill-python,
.skill-php {
    text-align: center;
}

.c-text,
.cpp-text,
.css-text,
.git-text,
.html-text,
.js-text,
.python-text,
.php-text {
    display: none;
}

.c-icon:hover + .c-text,
.cpp-icon:hover + .cpp-text,
.css-icon:hover + .css-text,
.git-icon:hover + .git-text,
.html-icon:hover + .html-text,
.js-icon:hover + .js-text,
.python-icon:hover + .python-text,
.php-icon:hover + .php-text {
    display: block;
    color: gray;
}

#sidebar img:hover {
    transform: scale(1.3);
    cursor: pointer;
}
#profile {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vcard-terry {
    width: 50%;
    margin-right: 50px;
}

.vcard-terry h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.vcard-terry span {
    color: #d5c8f2;
}

.vcard-terry p {
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color:rgb(179, 179, 179);
    margin-top: 60px;
}

.pfp-container-terry {
    display: flex;
    width: 300px;
    flex-direction: column;
    transition: transform, 1s;
    text-align: center;
}

.pfp-container-terry:hover {
    transform: scale(1.1);
}

.photo {
    width: 300px;
    height: 400px;
    border: 5px solid #d5c8f2;;
    transition: 1s;
}

.photo:hover {
    opacity: 0.8;
}

.personal-info {
    font-size: 15px;
    background-color:  #d5c8f2;
    color: #333;
    height: 100px;
    width: 96.5%;
    padding: 10px;
}

.personal-info p {
    line-height: 20px;
    padding-bottom: 8px;
}

.personal-info a {
    color: white;
}

.experience-grid {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}
.experience-pics {
    width: 300px;
    border-color: #d5c8f2;
}

.experience-link {
    padding-top: 40%;
    padding-left: 38%;
}

.experience-description {
    background-color: #e4ddf4;
}

.experience-description h1,
.experience-description ul {
    color: #333;
}

.experience-description h1 {
    padding-top: 55px;
}

.experience-description ul {
    padding-left: 50px;
    line-height: 40px;
    font-size: 17px;
}
.experience-description span {
    color: #555;
    padding-left: 10px;
    font-size: 75%;
}

.education-terry {
    padding-top: 50px;
}

.education-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.school-info {
    width: 50%;
    margin-right: 50px;
    background-color: #e4ddf4;
}
.school-basic {
    text-align: center;
    padding-top: 20px;
}
.school-basic h1{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.school-basic span {
    font-size: 80%;
    font-weight: lighter;
}

.school-basic p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color:#555;
    margin-top: 5px;
}

.school-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.school-detail img {
    width: 300px;
    height: 300px;
    border: 5px solid #d5c8f2;
    transition: 1s;
}

.school-detail img:hover {
    opacity: 0.6;
    transform: scale(1.3);
    cursor: pointer;
}

.school-detail ul {
    padding-left: 10%;
    line-height: 250%;
    font-size: 110%;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fffbf0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer img {
    width: 50px;
    height: 50px;
    padding-right: 50px;
    transition: 1s;
}

#footer img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* Ryans personal css page */

#profileR, #organizations {
    background-color: #fffbf0;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.vcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.basic-info {
    width: 50%;
    margin-right: 50px;
}

.basic-info h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.basic-info span {
    color: #249489;
}

.basic-info p {
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color:rgb(139, 139, 139);
    margin-top: 60px;
}

.pfp-container {
    display: flex;
    width: 300px;
    flex-direction: column;
    transition: transform, 1s;
    text-align: center;
}

.pfp-container:hover {
    transform: scale(1.1);
}

.profile-picture {
    width: 300px;
    height: 400px;
    border: 5px solid #249489;
    transition: 1s;
}

.profile-picture:hover {
    opacity: 0.8;
}

.contact-info {
    font-size: 15px;
    background-color: #249489;
    color: #333;
    height: 100px;
    width: 96.5%;
    padding: 10px;
}

.contact-info p {
    line-height: 20px;
    padding-bottom: 8px;
}

.contact-info a {
    color: white;
}


.education, .work, .skills {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    background-color: #fffbf0;
}

.skills h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    background-color: #fffbf0;
}

.school, .job {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
}

.school a, .job a {
    color: #D5C8F2;
}

ul {
    list-style: none;
}

li {
    font-size: 15px;
    margin: 10px;
}

.logo {
    display: flex;
    float: right;
    max-width: 200px;
    height: auto;
}

.hardSkill, .softSkills {
    background-color: #fffbf0;
    width: 30%;
    padding: 20px;
}

.hardSkill {
    margin-left: 10%;
    float: left;
}

.softSkills {
    margin-right: 10%;
    float: right;
}

.hardSkill h1, .softSkills h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.street-address, .tel, .email {
    padding-left: 5%;
    font-size: 20px;
}

/***Jackson's profile CSS***/
#JacksonName a{
    font-size: 20px;
}
.format-jackson{
    font-size: 30px;
    text-align: center;
}
#jackson-photo{
    display: flex;
    flex-direction: column;
    width:20%;
    height :20%;
    float: left;
    padding-top: 90px;
    border: solid 10px white;
    line-height: 35px;
    text-align: center;
    background-size: contain;
    position: relative;
    margin-left: 10%;
    margin-top: 20px;    
}
#jackson-intro{
    padding-top: 10px;
    font-family: 'Combo';
    text-align: center;
    font-size: 20px;
    border: solid 3px darkcyan;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    line-height: 30px;
}
#education-jackson{
    font-family: 'Kanit';
}
.organization-name{
    color: darkblue;
    font-family: 'Arvo';
    font-size: larger;
}
#working-jackson{
    font-family: 'Kanit';
}
#profileJ {
    background-color: azure;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.vcardJ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.basic-infoJ {
    width: 50%;
    margin-right: 50px;
}

.basic-infoJ h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Combo';
    font-weight:100;
}

.basic-infoJ span {
    color: darkblue
}

.basic-infoJ p {
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 60px;
    color: #000000;
    font-family: 'Combo';
    
}

.pfp-containerJ {
    display: flex;
    width: 300px;
    flex-direction: column;
    transition: transform, 1s;
    text-align: center;
}

.profile-pictureJ {
    width: 300px;
    height: 350px;
    border: 5px solid darkblue;
    transition: .3s ease-in-out;
}
.profile-pictureJ:hover{
    transform: scale(1.3);
}
#footer-j{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.icon-barj{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
